<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.androidstudio.notely">

    <application
        android:allowBackup="true"
        android:label="Notely"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Notely">

        <!-- Launcher -->
        <activity
            android:name=".ui.activity.AccountActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.activity.HomeActivity" />
        <activity android:name=".ui.activity.LessonActivity" />
        <activity android:name=".ui.activity.QuestionnaireActivity" />

    </application>
</manifest>
